[Unit]
Description=Crawl Scoreboard

[Service]
ExecStart=/app/scoreboard/contrib/run.sh
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
