body {
    font-size: 0.875rem;
}

nav {
    font-size: 1rem;
}

h2 {
    font-size: 1.85rem;
}

h3 {
    font-size: 1.5rem;
}

.table td, .table th {
    padding: .5rem .75rem;
}

/* Columns with a date should never split the date over multiple lines. */
.date-table-col {
    min-width: 10rem;
}
