html {
    overflow-y: scroll;
}

body {
    font-size: 0.875rem;
    background-image: url("../images/background.png");
}

nav {
    font-size: 1.05rem;
    border-bottom: 1px solid rgb(190,190,190);
}

.navbar-nav .nav-link {
    color: #0275d8;
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link.active:hover,
.navbar-nav .nav-link.active:focus,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link:hover {
    color: #E7A937;
}

h2 {
    font-size: 1.85rem;
}

h3 {
    font-size: 1.3rem;
}

.table td, .table th {
    padding: .5rem .75rem;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(240,240,240,0.5);
}

.table-hover tbody tr:hover {
    background-color: rgba(220,220,220,0.5);
}

/* Columns with a date should never split the date over multiple lines. */
.date-table-col {
    min-width: 10rem;
}

.nav-tabs .nav-link:hover {
    color: #E7A937;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover {
    color: #E7A937;
    background-color: rgba(255,255,255,0.5);
}
