{# On child pages, {% set active_page = 'index' %} to highlight the relevant
  navigation_bar entry
#}
{% set navigation_bar = [
  ('/index.html', 'index', 'Home'),
  ('/highscores.html', 'highscores', 'Highscores'),
  ('/streaks.html', 'streaks', 'Win Streaks'),
  ] %}
{% set active_page = active_page|default('none') %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>DCSS Scoreboard - {% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ urlbase }}/static/css/awesomplete.css">
    <link rel="stylesheet" href="{{ urlbase }}/static/css/style.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.3/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src="{{ urlbase }}/static/js/awesomplete.min.js"></script>
    <script src="{{ urlbase }}/static/js/jquery.timeago.js"></script>
    <script src="{{ urlbase }}/static/js/dcss-scoreboard.js"></script>
  </head>
  <body>
    <img src="{{ urlbase }}/static/images/background.png" style="display:none;" alt="" />
    <div class="container">
      {# header #}
      <div class="row">
        <a href="{{ urlbase }}/index.html"><img src="{{ urlbase }}/static/images/logo.png" class="center-block"></a>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <nav class="navbar">
            <div class="nav navbar-nav">
              {% for href, id, title in navigation_bar %}
              <a class="nav-item nav-link {% if id == active_page %}active{% endif %}" href="{{ urlbase }}{{ href }}">{{ title }}</a>
              {% endfor %}
              <form class="nav-item form-inline pull-sm-right">
                <input id="playersearch" class="form-control" type="text" placeholder="Player Search" data-autofirst="True" />
              </form>
            </div>
          </nav>
        </div>
      </div>
    </div>

    <br> {# HACKY XXX #}

    {# content #}
    <div class="container">
      {% block content %}{% endblock %}
      <hr/>
    </div>

    {# footer #}
    <footer>
      <p>Made with ♥️ by {{ 'chequers'|link_player(urlbase) }} and <a href="{{ urlbase }}/players/zzxc.html">zxc</a>. <a href="https://github.com/zxc23/dcss-scoreboard">Source on GitHub</a>. <a href="https://discord.gg/0YYpvjcOUySNTyV5">Chat with us</a>. Page generated <time class="timeago" datetime="{{ current_time }}Z">{{ current_time|prettydate }}</time></p>
    </footer>
  </body>
</html>
