{% extends "base.html" %}
{% set active_page = 'highscores' %}
{% block title %}High Scores{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#overall" role="tab">Overall</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#race" role="tab">Race</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#background" role="tab">Background</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#char" role="tab">Combo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#god" role="tab">God (beta)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#shortest" role="tab">Shortest (turncount)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#fastest" role="tab">Fastest (realtime)</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="overall" role="tabpanel">
        <table class="{{ tableclasses }}">
          <thead>
            <tr>
              <th>Player</th>
              <th>Score</th>
              <th>Character</th>
              <th>XL</th>
              <th>Turns</th>
              <th>Duration</th>
              <th>Runes</th>
              <th>Date</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            {% for gid in stats['max_score'] %}
            {{ gid|gidtogame|gametotablerow(show_player=True, winning_games=True) }}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="race" role="tabpanel">
        <table class="{{ tableclasses }}">
          <thead>
            <tr>
              <th>Race</th>
              <th>Player</th>
              <th>Score</th>
              <th>Character</th>
              <th>XL</th>
              <th>Turns</th>
              <th>Duration</th>
              <th>Runes</th>
              <th>Date</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            {% for gid in stats['rc_highscores'].values() %}
            {{ gid|gidtogame|gametotablerow(prefix_row='race', show_player=True, winning_games=True) }}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="background" role="tabpanel">
        <table class="{{ tableclasses }}">
          <thead>
            <tr>
              <th>Background</th>
              <th>Player</th>
              <th>Score</th>
              <th>Character</th>
              <th>XL</th>
              <th>Turns</th>
              <th>Duration</th>
              <th>Runes</th>
              <th>Date</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            {% for gid in stats['bg_highscores'].values() %}
            {{ gid|gidtogame|gametotablerow(prefix_row='cls', show_player=True, winning_games=True) }}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="char" role="tabpanel">
        <table class="{{ tableclasses }}">
          <thead>
            <tr>
              <th>Player</th>
              <th>Score</th>
              <th>Character</th>
              <th>XL</th>
              <th>Turns</th>
              <th>Duration</th>
              <th>Runes</th>
              <th>Date</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            {# XXX unsorted #}
            {% for gid in stats['char_highscores'].values() %}
            {{ gid|gidtogame|gametotablerow(show_player=True, winning_games=True) }}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="god" role="tabpanel">
        <table class="{{ tableclasses }}">
          <thead>
            <tr>
              <th>God</th>
              <th>Player</th>
              <th>Score</th>
              <th>Character</th>
              <th>XL</th>
              <th>Turns</th>
              <th>Duration</th>
              <th>Runes</th>
              <th>Date</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            {# XXX unsorted #}
            {% for gid in stats['god_highscores'].values() %}
            {{ gid|gidtogame|gametotablerow(prefix_row='god', show_player=True, winning_games=True) }}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="fastest" role="tabpanel">
        <table class="{{ tableclasses }}">
          <thead>
            <tr>
              <th>Player</th>
              <th>Score</th>
              <th>Character</th>
              <th>XL</th>
              <th>Turns</th>
              <th>Duration</th>
              <th>Runes</th>
              <th>Date</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            {% for gid in stats['min_dur'] %}
            {{ gid|gidtogame|gametotablerow(show_player=True, winning_games=True) }}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="shortest" role="tabpanel">
        <table class="{{ tableclasses }}">
          <thead>
            <tr>
              <th>Player</th>
              <th>Score</th>
              <th>Character</th>
              <th>XL</th>
              <th>Turns</th>
              <th>Duration</th>
              <th>Runes</th>
              <th>Date</th>
              <th>Version</th>
            </tr>
          </thead>
          <tbody>
            {% for gid in stats['min_turn'] %}
            {{ gid|gidtogame|gametotablerow(show_player=True, winning_games=True) }}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
