{% extends "base.html" %}
{% set active_page = 'highscores' %}
{% block title %}Highscores{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#overall" role="tab">Overall</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#race" role="tab">Species</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#background" role="tab">Background</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#char" role="tab">Combo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#god" role="tab">God</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#shortest" role="tab">Shortest (Turn-Count)</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#fastest" role="tab">Fastest (Real-Time)</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="overall" role="tabpanel">
        {{ overall_highscores|generic_highscores_to_table }}
      </div>
      <div class="tab-pane" id="race" role="tabpanel">
        {{ species_highscores|species_highscores_to_table }}
      </div>
      <div class="tab-pane" id="background" role="tabpanel">
        {{ background_highscores|background_highscores_to_table }}
      </div>
      <div class="tab-pane" id="char" role="tabpanel">
        {{ combo_highscores|generic_highscores_to_table }}
      </div>
      <div class="tab-pane" id="god" role="tabpanel">
        {{ god_highscores|generic_highscores_to_table }}
      </div>
      <div class="tab-pane" id="fastest" role="tabpanel">
        <p><small>* Bots excluded</small></p>
        {{ fastest_wins|generic_highscores_to_table }}
      </div>
      <div class="tab-pane" id="shortest" role="tabpanel">
        {{ shortest_wins|generic_highscores_to_table }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
