{% extends "base.html" %}
{% set active_page = 'index' %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h3>Recent Wins</h3>
    {{ recent_wins|gamestotable(show_player=True, winning_games=True) }}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Overall Highscores</h3>
    {{ overall_highscores|gamestotable(show_player=True, winning_games=True, limit=5) }}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Active Win Streaks</h3>
    {{ active_streaks|streakstotable(show_loss=False) }}
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Most Highscores</h3>
    <table class="{{ tableclasses }}">
      <thead>
        <tr>
          <th>Player</th>
          <th>Highscores</th>
          <th>Characters</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in combo_high_scores %}
          <tr>
            <td>{{ entry[0]|link_player(urlbase) }}</td>
            <td>{{ entry[1]|length }}</td>
            <td>{{ entry[1]|join(', ') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
