{% extends "base.html" %}
{% set active_page = 'index' %}
{% block title %}Home{% endblock %}
{% block heading %}Dungon Crawl Stone Soup Scoreboard{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h3>Recent Wins</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Score</th>
          <th>Character</th>
          <th>XL</th>
          <th>Turns</th>
          <th>Duration</th>
          <th>Runes</th>
          <th>Date</th>
          <th>Version</th>
        </tr>
      </thead>
      <tbody>
        {% for game in recent_wins %}
        {{ game|gametotablerow(show_player=True, winning_games=True) }}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Active Streaks</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Wins</th>
          <th>Player</th>
          <th>Games</th>
          <th>Start</th>
          <th>End</th>
          <th>Versions</th>
        </tr>
      </thead>
      <tbody>
        {% for streak in active_streaks %}
        {{ streak|streaktotablerow }}
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <h3>Most High Scores</h3>
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Player</th>
          <th>High Scores</th>
          <th>Characters</th>
        </tr>
      </thead>
      <tbody>
        {% for entry in combo_high_scores %}
          <tr>
            <td>{{ entry[0] }}</td>
            <td>{{ entry[1]|length }}</td>
            <td>{{ entry[1]|join(', ') }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
