{% extends "base.html" %}
{% block title %}{{ player }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h2>{{ player }}</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <p><strong>Last Active:</strong> {{ last_active|prettydate }}</p>
    <p><strong>Games Played:</strong> {{ stats['games']|prettyint }}</p>
    <p><strong>Wins:</strong> {{ all_wins|length }} ({{ (stats['winrate'] * 100)|round(2) }}%)</p>
    <p><strong>Quits:</strong> {{ stats['boring_games']|prettyint }} ({{ (stats['boring_rate'] * 100)|round(2) }}%)</p>
  </div>
  <div class="col-sm-3">
    <p><strong>Total Playtime:</strong> {{ stats['total_playtime']|prettydur(hours=True) }} hours</p>
    <p><strong>Highest Score:</strong> {{ stats['highscore']|morgue_link(stats['highscore']|gidtogame|attr("sc")|prettyint) }}</p>
    {% if stats['wins']|length > 0 %}
      <p><strong>Shortest Win:</strong> {{ stats['fastest_turncount']|morgue_link(stats['fastest_turncount']|gidtogame|attr("turn")|default(0)|prettyint + ' turns') }}</p>
      <p><strong>Fastest Win:</strong> {{ stats['fastest_realtime']|morgue_link(stats['fastest_realtime']|gidtogame|attr("dur")|default(0)|prettydur + ' hours') }}</p>
    {% endif %}
  </div>
  <div class="col-sm-3">
    {% if streaks %}
        <p><strong>Longest Win Streak:</strong> {{ streaks[0].wins|length }} wins</p>
      {% if active_streak and active_streak.wins|length > 1 %}
        <p><strong>Active Win Streak:</strong> {{ active_streak.wins|length }} wins</p>
      {% endif %}
    {% endif %}
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-sm-12">
    <h3>Recent Games</h3>
    {{ recent_games|gamestotable }}
  </div>
</div>
{# if player has a race/role highscore, they also have a combo highscore by definition #}
{% if records['combo'] or records['god'] %}
  <hr/>
  <div class="row">
    <div class="col-sm-12">
      <h3>Highscores</h3>
      {{ records|recordsformatted }}
    </div>
  </div>
{% endif %}
{% if streaks %}
  <hr/>
  <div class="row">
    <div class="col-sm-12">
      <h3>Win Streaks</h3>
      {{ streaks|streakstotable(show_player=False, limit=10) }}
    </div>
  </div>
{% endif %}
<hr/>
{% if all_wins|length %}
<div class="row">
  <div class="col-sm-12">
    <h3>Wins</h3>
    <div class="col-sm-4">
      <p><strong>By Species ({{ race_wins.values()|reject("equalto", 0)|list|length }}/{{ const.PLAYABLE_RACES|length }}):</strong></p>
      <p class="counter">{{ race_wins|prettycounter|safe }}</p>
    </div>
    <div class="col-sm-4">
      <p><strong>By Background ({{ background_wins.values()|reject("equalto", 0)|list|length }}/{{ const.PLAYABLE_ROLES|length }}):</strong></p>
      <p class="counter">{{ background_wins|prettycounter|safe }}</p>
    </div>
    <div class="col-sm-4">
      <p><strong>By God ({{ god_wins.values()|reject("equalto", 0)|list|length }}/{{ const.PLAYABLE_GODS|length }}):</strong></p>
      <p class="counter">{{ god_wins|prettycounter|safe }}</p>
    </div>
    {% if all_wins|length > 10 %}
      {{ all_wins[:10]|gamestotable(winning_games=True) }}
      <div class="collapse" id="lessrecentwins">
        {{ all_wins[10:]|gamestotable(winning_games=True, skip_header=True) }}
      </div>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#lessrecentwins" aria-expanded="false" aria-controls="lessrecentwins">
        Show remaining {{ all_wins[10:]|length }} wins...
      </button>
    {% else %}
      {{ all_wins|gamestotable(winning_games=True) }}
    {% endif %}
  </div>
</div>
{% endif %}
{% endblock %}
