{% extends "base.html" %}
{% block title %}{{ player }}{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h2>Stats for {{ player }}</h2>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-sm-3">
    <p><strong>Last Active:</strong> {{ stats['last_active']|prettycrawldate }}</p>
    <p><strong>Games Played:</strong> {{ stats['games']|prettyint }}</p>
    <p><strong>Wins:</strong> {{ stats['wins']|length }} ({{ (stats['winrate'] * 100)|round(2) }}%)</p>
    <p><strong>Quits:</strong> {{ stats['boring_games']|prettyint }} ({{ (stats['boring_rate'] * 100)|round(2) }}%)</p>
  </div>
  <div class="col-sm-3">
    <p><strong>Total Playtime:</strong> {{ stats['total_playtime']|prettydur(hours=True) }} hours</p>
    <p><strong>Highest Score:</strong> {{ stats['highscore']['sc']|prettyint }}</p>
    {% if stats['wins']|length %}
      <p><strong>Shortest Win:</strong> {{ stats['fastest_turncount']['turn']|default(0)|prettyint }} turns</p>
      <p><strong>Fastest Win:</strong> {{ stats['fastest_realtime']['dur']|default(0)|prettydur }} hours</p>
    {% endif %}
  </div>
  <div class="col-sm-3">
    {% if streaks %}
        <p><strong>Longest Win Streak:</strong> {{ streaks[0].wins|length }} wins</p>
      {% if active_streak and active_streak.wins|length > 1 %}
        <p><strong>Active Win Streak:</strong> {{ active_streak.wins|length }} wins</p>
      {% endif %}
    {% endif %}
  </div>
</div>
<hr/>
<div class="row">
  <div class="col-sm-12">
    <h3>Recent Games</h3>
    {{ recent_games|gamestotable }}
  </div>
</div>
{# if player has a race/role highscore, they also have a combo highscore by definition #}
{% if records['combo'] or records['god'] %}
  <hr/>
  <div class="row">
    <div class="col-sm-12">
      <h3>Highscores</h3>
      {% if records['race'] %}
        <p><strong>Species:</strong>
          {{ records['race']|map(attribute='rc')|join(', ') }}
        </p>
      {% endif %}
      {% if records['role'] %}
        <p><strong>Backgrounds:</strong>
          {{ records['role']|map(attribute='bg')|join(', ') }}
        </p>
      {% endif %}
      {% if records['combo'] %}
        <p><strong>Combos:</strong>
          {{ records['combo']|map(attribute='char')|join(', ') }}
        </p>
      {% endif %}
      {% if records['god'] %}
        <p><strong>Gods:</strong>
          {{ records['god']|map(attribute='god')|join(', ') }}
        </p>
      {% endif %}
    </div>
  </div>
{% endif %}
{% if streaks %}
  <hr/>
  <div class="row playerstatsrow">
    <div class="col-sm-12">
      <h3>Win Streaks</h3>
      {{ streaks|streakstotable(show_player=False) }}
    </div>
  </div>
{% endif %}
<hr/>
<div class="row playerstatsrow">
  <div class="col-sm-12">
    <h3>Wins</h3>
    <p><strong>Species Won ({{ stats['race_wins'].values()|reject("equalto", 0)|list|length }}/{{ const.PLAYABLE_RACES|length }}):</strong> {{ stats['race_wins']|prettycounter }}</p>
    <p><strong>Backgrounds Won ({{ stats['role_wins'].values()|reject("equalto", 0)|list|length }}/{{ const.PLAYABLE_ROLES|length }}):</strong> {{ stats['role_wins']|prettycounter }}</p>
    <p><strong>Gods Won ({{ stats['god_wins'].values()|reject("equalto", 0)|list|length }}/{{ const.PLAYABLE_GODS|length }}):</strong> {{ stats['god_wins']|prettycounter }}</p>
    {{ stats['wins']|map('gidtogame')|list|gamestotable(winning_games=True) }}
  </div>
</div>
{% endblock %}
