{% extends "base.html" %}
{% set active_page = 'streaks' %}
{% block title %}Streaks{% endblock %}
{% block heading %}Streaks{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <h3>Highscores</h3>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#active_streaks" role="tab">Active Streaks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#longest_streaks" role="tab">Longest Streaks</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="active_streaks" role="tabpanel">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Wins</th>
              <th>Player</th>
              <th>Games</th>
              <th>Start</th>
              <th>End</th>
              <th>Versions</th>
            </tr>
          </thead>
          <tbody>
            {% for streak in active_streaks %}
            {{ streak|streaktotablerow }}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="tab-pane" id="longest_streaks" role="tabpanel">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Wins</th>
              <th>Player</th>
              <th>Games</th>
              <th>Start</th>
              <th>End</th>
              <th>Versions</th>
              <th>Streak Breaker</th>
            </tr>
          </thead>
          <tbody>
            {% for streak in streaks %}
            {{ streak|longeststreaktotablerow }}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
