{% extends "base.html" %}
{% set active_page = 'streaks' %}
{% block title %}Win Streaks{% endblock %}
{% block heading %}Win Streaks{% endblock %}
{% block content %}
<div class="row">
  <div class="col-sm-12">
    <!-- Nav tabs -->
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#longest" role="tab">Longest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#active" role="tab">Active</a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane active" id="longest" role="tabpanel">
        {{ best_streaks|streakstotable(limit=20) }}
      </div>
      <div class="tab-pane" id="active" role="tabpanel">
        {{ active_streaks|streakstotable(show_loss=False, limit=20) }}
      </div>
    </div>
  </div>
</div>
{% endblock %}
